/* цвет основного текста  #757575  */
/* вторичный цвет #212121 */
/* цвет логотпа, ссылок при наведении и акцент #2196F3 */
/* белый цвет #FFFFFF */
/*цвет в футере rgba(255, 255, 255, 0.6);*/
/* цвет фона кнопок #F5F4FA */

/* Стили для index.html */

/* Герой */

.hero {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: darkgrey;
  max-width: 1600px;
  height: 600px;
  outline: 1px solid black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../img/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Секции  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Преимущества */
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}
.feature-list .item {
  width: 270px;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.feature-list .item:nth-child(4n) {
  margin-right: 0;
}

.icon-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
  background-color: var(--bg-grey-color);
  width: 270px;
  height: 120px;
}


.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.skill-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}

.skill-list .item {
  width: 370px;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.skill-list .item:nth-child(3n) {
  margin-right: auto;
}

.skill-list .item::


{
  position: absolute;
  display: inline-block;
  content: '';
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;}



.skill-list .title {
  bottom: 9%;
  margin: 0;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
}

/* Наша команда */
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}

.team-list .item {
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.team-list .item:nth-child(4n) {
  margin-right: auto;
}

.team-list .foto {
  display: block;
  margin-bottom: 30px;
}

.team {
  background-color: var(--bg-grey-color);
}

.team-list .title {
  margin-top: auto;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .specialty {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socials {
  display: flex;
  margin-top: 0;
  justify-content: center;
}

.icon {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:nth-child(4n) {
  margin-right: 0;
}

.socials .icon:hover, 
.socials .icon:focus {color: #ffffff;}

.icon:hover,.icon:focus {background-color: var(--accent-color);}

.icon-socials {fill: currentColor}
.icon-socials:focus,.icon-socials:hover {fill: #ffffff;}


/* Постоянные клиенты */
.client-list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

.client-list .item {margin-right: 30px;}
.client-list .item:nth-child(6n) {margin-right: 0;}

.company-link{
justify-content: center;
align-items: center;
display: flex;
color: var(--primary-text-color);
width: 170px;
height: 90px;
outline: 1px solid #AFB1B8;
border-radius: 4px;
/* margin-right: 30px; */
margin-top: auto;
margin-bottom: auto;
transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .company-link:hover,
.client-list .company-link:focus {outline: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.icon-client {fill: currentColor}
/* .icon-client:hover, .icon-client:focus {fill: var(--accent-color);} */

/* Стили для portfolio.html */
.section-button {
  margin-top: 0;
  margin-bottom: 34px;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: auto;
  margin-bottom: auto; */
  margin: -15px;
}

.portfolio-list .link {display: block;}

.portfolio-list .item {
  width: 370px;
  margin: 15px;
  /* margin-top: 0;
  margin-bottom: 30px;
  margin-right: 30px; */
  /* background: #ffffff;
  border: 1px solid #eeeeee; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-list .item:hover {box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
  0px 1px 1px rgba(0, 0, 0, 0.12);}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.cover {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

  .overlay-text {
    margin: 0;
    color: var(--primary-white-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
  }

.item:hover .overlay {
  transform: translateY(0%);
  opacity: 1;
}
  
.portfolio-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio-list .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  margin-top: auto;
  margin-bottom: 20px;
}

.desc-card {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
